{% extends 'lifion/base.html' %}
{% load static %}
{% load lifion_extras %}

{% block css %}
    <style>

    </style>
{% endblock %}


{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <h1>Survey Responses</h1>
            </div>


            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="display: inline-block">Survey ID - {{ survey.id }}</h3>
                        <div class="pull-right" style="display: inline-block;">
                            Status : {% if survey.is_open %}Open{% else %}Closed{% endif %}
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover table-responsive">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Submitted By</th>
                                <th>Submitted At</th>
                                <th>Comment</th>
                                <th>View Response</th>
                                <th>Score</th>
                                <th>Avg</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for response in survey.submissions.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ response.by }}</td>
                                    <td>{{ response.created_at }}</td>
                                    <td>{{ response.comment }}</td>
                                    <td><a href="#!" class="viewResponseBtn btn btn-info" data-id="{{ response.id }}">View</a></td>
                                    <td>{{ response.score }}</td>
                                    <td>{{ response.avg }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td>Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>{{ total }}</strong></td>
                                <td><strong>{{ avg }}</strong></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">View Response</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        $('.viewResponseBtn').click(function () {

            var url = '{% url 'view_response' survey_id=survey.id submission_id=0 %}';
            var id = $(this).data('id');

            url = url.replace('/0', '/' + id);

            $.get(url, function (data) {
                $('.modal-body').html(data);
            });


            $('.modal').modal('show');


        });
    </script>
{% endblock %}