{% load static %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Survey Questions</h3>
            </div>
            <div class="panel-body">
                {% for question in survey.questions.all %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="well">
                                {{ question.text }}
                            </div>
                            <div class="col-xs-12">

                                {% for option in question.options.all %}

                                    <div class="radio">
                                        <label>
                                            <input type="radio" disabled>
                                            {{ option.text }} [{{ option.value }}]
                                        </label>
                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
