.form-container form,
.form-container form div {
  display: inline;
}

.form-container button {
  display: inline;
  vertical-align: middle;
}

.table {
  table-layout: fixed;

  th, tr {
    text-align: center;
  }
}