<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load compress %}
    <meta charset="UTF-8">
    <title>Lifion</title>

    {% compress css %}
        <link rel="stylesheet" href="{% static 'lifion/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'lifion/css/base.css' %}">
        {% block css %}
        {% endblock %}
    {% endcompress %}
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Lifion</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                {% if not request.user.is_authenticated %}
                    <li{% if orgs %} class="active"{% endif %}><a href="{% url 'organizations' %}">Organizations</a></li>
                    <li{% if emps %} class="active"{% endif %}><a href="{% url 'employees' %}">Employees</a></li>
                {% else %}
                    <li{% if survey %} class="active"{% endif %}><a href="{% url 'survey' %}">Surveys</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% if messages %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>{{ message.tags|capfirst }}!</h4>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% block body %}
{% endblock %}


{% compress js %}
    <script src="{% static 'lifion/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'lifion/js/bootstrap.min.js' %}"></script>

    {% block js %}
    {% endblock %}
{% endcompress %}
</body>
</html>